//----------HEADER----------//
@media screen and (max-width: 900px){
    header {
        flex-direction: column;
    }
}
@media screen and (max-width: 650px){
    header nav ul{
        display: flex;
        flex-direction: column;
    }
}

//----------INDEX----------//

@media screen and (max-width:1480px) {
    .hero{
        background-image: url("../images/imagenes-del-espacio-exterior-sp.jpg");
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align:center;
        color: white;
        background-attachment: fixed;
        border: 2px solid black;
    
        display: flex;
        flex-direction: column;
        p{
            font-size: 22px;
            margin-top: 40px;
            margin-left: 40px;
            font-family: 'Poppins', sans-serif;
        }
    }
    .bienvenidos{
        img{
            margin-left: 0px;
            width: 200px;
            height: 200px;
            
            display: flex;
            flex-direction: column;
        }
        .contenedor{
            align-items: center;
            margin-left: 90px;
        
            display: flex;
        }
    }
    .preguntas{
        .contenedor-gridpreguntas{
            display: grid;
            grid-template-rows: 390px 390px 390px 390px 390px 390px;
            grid-template-columns: auto ;
            gap: 40px;
            div{
                border: solid black 2px;
                font-size: 15px;
                padding: 30px;
                text-align: center;
                p{
                    font-size: 18px;
                    text-align: center;
                    padding: 30px;
                }
            }
        }
    }
}
@media screen and (max-width:800px){
    .bienvenidos{
        .contenedor{
            flex-direction: column;
            align-items: center;
            img{
                margin-right: 50px;
            }
        }
    }
}
@media screen and (max-width:499px){
    .bienvenidos{
        img{
            margin-left: 0px;
            width: 100px;
            height: 100px;
            
            display: flex;
            flex-direction: column;
        }
        .contenedor{
            flex-direction: column;
            align-items: center;
            p{
                padding: 20px 0;
                width: 80%;
                margin: auto;
                font-size: 14px;
                margin-right: 50px;
            }
        }
        }
    .preguntas{
        .contenedor-gridpreguntas{
            div{
                p{
                    font-size: 15px;
                    text-align: center;
                    padding: 30px;
                }
            }
        }
    }
}
@media screen and (max-width:430px){
    .hero{
        p{
            font-size: 16px;
            margin-top: 40px;
            margin-left: 40px;
            font-family: 'Poppins', sans-serif;
        }
    }
    .preguntas{
        .contenedor-gridpreguntas{
            display: grid;
            grid-template-rows: 400px 400px 400px 400px 400px 400px;
            grid-template-columns: auto;
            gap: 30px;
            div{
                h3{
                    font-size: 15px;
                }
                p{
                    font-size: 10px;
                    text-align: center;
                    padding: 30px;
                }
            }
    }
}
}


//----------TEORIAS----------//

@media screen and (max-width:500px){
    .presentacion{
        h2{
            font-size: 30px;
        }
        p{
            font-size: 15px;
        }
    }
    .teoria{
        h2{
            font-size: 30px;
        }
        div{
            .img-texto{
                img{
                    width: 250px;
                    height: 150px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: black 1px solid;
                    object-fit: cover;
                    box-shadow: 13px 14px 18px -1px rgba(0,0,0,0.81);
                -webkit-box-shadow: 13px 14px 18px -1px rgba(0,0,0,0.81);
                -moz-box-shadow: 13px 14px 18px -1px rgba(0,0,0,0.81);
                }
                p{
                    margin-left: 50px;
                    margin-right: 50px;
                    font-size: 15px;
                }
            }
        }
    }
}
//----------PARADOJAS----------//

@media screen and (max-width:1150px){
    .paradoja{
        .contenedor-paradoja{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 20px;
            padding: 20px;
        }
    }
}
@media screen and (max-width:900px){
    .presentacion{
        p{
            font-size: 15px;
        }
    }
}
@media screen and (max-width:650px){
    .paradoja{
        h2{
            font-size: 25px;
        }
        div{
            img{
                width: 250px;
                height: 170px;
                box-shadow: 13px 14px 18px -1px rgba(0,0,0,0.81);
                -webkit-box-shadow: 13px 14px 18px -1px rgba(0,0,0,0.81);
                -moz-box-shadow: 13px 14px 18px -1px rgba(0,0,0,0.81);
            }
            p{
                font-size: 13px;
            }
        }
    }
}
//----------CIENTIFICOS----------//

@media screen and (max-width:400px){
    .cientificos{
        h2{
            font-size: 30px;
        }
        p{
            font-size: 15px;
        }
        .titulo-texto{
            h3{
                img{
                    width: 200px;
                    height: 200px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: black 1px solid;
                    object-fit: cover;
                    box-shadow: 13px 14px 18px -1px rgba(0,0,0,0.81);
                -webkit-box-shadow: 13px 14px 18px -1px rgba(0,0,0,0.81);
                -moz-box-shadow: 13px 14px 18px -1px rgba(0,0,0,0.81);
                }
            }
            p{
                font-size: 15px;
            }
        }
    }
}
//----------CONTACTANOS----------//



//----------OUTERLAB----------//

@media screen and (max-width:700px){
    .indice{
        .presentacion-outerlab{
            p{
                font-size: 20px;
            }
        }
    }
}
//----------FOOTER----------//

@media screen and (max-width:1450px){
    footer{
        margin-top: 200px;
        width: 100%;
        height: 240px;
        background-color: #7A2B7A;
        text-align: center;
        border: black 2px solid;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .footer-fondo{
            section{
                .footer-links{
                    p{
                        font-family: 'Dongle', sans-serif;
                        font-size: 20px;
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 990px){
    footer{
        margin-top: 170px;
        width: 100%;
        height: 290px;
        background-color: #7A2B7A;
        text-align: center;
        border: black 2px solid;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .footer-fondo{
            section{
                .footer-links{
                    p{
                        font-family: 'Dongle', sans-serif;
                        font-size: 15px;
                        padding-left: 30px;
                    }
                }
            }
            .footer-redes{
                a{
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 501px){
    footer{
        margin-top: 200px;
        width: 100%;
        height: 320px;
        background-color: #7A2B7A;
        text-align: center;
        border: black 2px solid;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .footer-fondo{
            section{
                .footer-links{
                    h4{
                        font-size: 13px;
                    }
                }
            }
            .footer-redes{
                a{
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}